h1 {
  
        font-family:'Courier New', Courier, monospace;
        
        margin-top: -280px;
        padding: 0;
        display: flex;
        justify-content: center; /* Centraliza conteúdo horizontalmente */
        align-items: center; /* Centraliza conteúdo verticalmente */
        height: 100vh; /* Altura total da viewport */
}

h3 {
margin-top: -315px;
padding: 0;
display: flex;
justify-content: center;

}

p1 {
display: flex;
justify-content: center;

}





